<!doctype html>
<html lang="en">
<head>
     <metachar="UTF-8">
      <title> My app </title>

</head>
<body>
      <h1><%= title %>
<ul>
<% for (var i=0; i< items.length;i++){ %>
<li> <%= items[i].desc %></li>
<%} %>
</ul>

<form action ="/add" method="post">
   <input type="text" name="newItems">
   <input  type="submit">
</form>

</body>
</html>
